/* ::::: https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css ::::: */

input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: https://www.binpress.com/min/?b=styles&f=fonts/css/binpress.css,reset.css,main.css,handheld.css,form.css,markdown.css,site/main.css,site/content.css,site/components.css&v=94bd9c4 ::::: */

@font-face {
	font-family: "binpress";
	font-style: normal;
	font-weight: normal;
	src: url('binpress.eot') format("embedded-opentype"), url('binpress.woff') format("woff"), url('binpress.ttf') format("truetype"), url('binpress.svg') format("svg");
}
[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "binpress"; font-style: normal; font-weight: normal; display: inline-block; text-decoration: inherit; width: 1em; margin-right: 0.2em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; margin-left: 0.2em; }
.icon-star:before { content: "★"; }
.icon-star-empty:before { content: "☆"; }
.icon-flag:before { content: "⚑"; }
.icon-pencil:before { content: "✎"; }
.icon-comment-1:before { content: ""; }
.icon-link-1:before { content: ""; }
.icon-reply:before { content: ""; }
.icon-code:before { content: ""; }
.icon-menu:before { content: ""; }
.icon-book-open:before { content: ""; }
.icon-list-bullet:before { content: ""; }
.icon-angle-right:before { content: ""; }
.icon-twitter:before { content: ""; }
.icon-facebook:before { content: ""; }
.icon-gplus:before { content: ""; }
.icon-linkedin:before { content: ""; }
.icon-clock:before { content: "🕔"; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
a { margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
input, select { vertical-align: middle; }
body { font: 13px sans-serif; }
select, input, textarea { font: 99% sans-serif; }
pre, code, kbd, samp { font-family: monospace,sans-serif; }
body, select, input, textarea { color: rgb(68, 68, 68); }
h1, h2, h3, h4, h5, h6 { text-rendering: optimizelegibility; font-weight: normal; }
html {  }
a:hover, a:active { outline: medium none; }
ol, ul { list-style: none outside none; }
ol { margin-left: 30px; list-style-type: decimal; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
label, input[type="button"], input[type="submit"], button { cursor: pointer; }
a:link {  }
html { overflow-y: scroll; }
button { width: auto; overflow: visible; }
em { font-style: normal; }
html, body { font-family: "Lato",sans-serif; background: none repeat scroll 0% 0% rgb(245, 245, 245); font-size: 11pt; height: 100%; color: rgb(68, 68, 68); }
body {  }
strong { font-weight: bold; }
.width { width: 980px; margin: auto; position: relative; }
p { font-size: 1em; line-height: 1.5em; margin: 5px 0px; }
pre { width: 100%; white-space: pre-wrap; word-wrap: break-word; }
pre, code { font-family: Consolas,"Liberation Mono",Courier,monospace; }
a { color: rgb(61, 172, 204); cursor: pointer; text-decoration: none; }
a.hovered:hover span, a:hover { text-decoration: underline; }
#body { clear: left; padding: 25px 0px; position: static; }
a img { border: 0px none; }
textarea { font-family: inherit; }
.clear { line-height: 0; height: 0px; clear: left; }
.floater { float: right; }
small { font-size: 0.9em; }
h1, h2, h3, h4 { margin-bottom: 5px; }
h1 { font-size: 20pt; margin-bottom: 8px; }
h2 { font-size: 16pt; }
h3 { font-size: 14pt; }
#container { min-height: 100%; height: auto; }
#header { background: none repeat scroll 0% 0% rgb(64, 141, 191); font-size: 9pt; color: rgb(255, 255, 255); padding: 0px; }
#header .width { min-height: 58px; padding-top: 22px; }
#header #logo { float: left; margin-top: -4px; }
#header #logo small { font-size: 8pt; }
#header a { color: rgb(217, 232, 242); }
#header .nav { float: right; }
#header .nav .links-wrap { display: inline-block; }
#header .nav .links a { color: rgb(217, 232, 242); text-transform: uppercase; padding: 5px 10px; margin-right: 10px; vertical-align: middle; font-size: 10pt; }
#header .nav .links a:hover { text-decoration: underline; }
#header a.button { vertical-align: middle; background: none repeat scroll 0% 0% transparent; border: 2px solid rgb(255, 255, 255); border-radius: 20px; padding: 3px 30px; }
#header a.button:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(64, 141, 191); text-decoration: none; }
#header a.show-menu { padding: 3px 10px; font-size: 13pt; margin-left: 10px; display: none; }
#header .nav .links { display: inline-block; }
#footer { clear: both; background: none repeat scroll 0% 0% rgb(45, 56, 64); padding-bottom: 70px; overflow: hidden; }
#footer .width { padding: 0px; }
#footer h3 { font-family: "Merriweather",serif; font-weight: 900; font-size: 13pt; color: rgb(255, 255, 255); padding: 45px 0px 20px; }
#footer a { color: rgb(213, 213, 213); display: block; padding: 10px 0px; transition: color 0.1s ease-out 0s, background 0.1s ease-out 0s; }
#footer a:hover { background-color: rgb(49, 154, 231); color: rgb(255, 255, 255); text-decoration: none; }
#footer .col { box-sizing: border-box; display: inline-block; vertical-align: top; text-align: center; background: none repeat scroll 0% 0% rgb(60, 76, 87); box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.11); width: 30%; margin: 0px 1.5%; padding-bottom: 30px; }
#footer .col a { font-weight: bold; text-align: left; padding: 10px 30px; position: relative; }
#footer .col a:hover:after { content: ""; position: absolute; background: url('arrow-white.png') no-repeat scroll 0% 0% / 9px 16px transparent; width: 9px; height: 16px; right: 10px; }
#footer .footer-top { border-top: 1px solid rgb(69, 84, 95); border-bottom: 1px solid rgb(69, 84, 95); text-align: center; margin-bottom: 33px; }
#footer .footer-top a { text-transform: uppercase; color: rgb(255, 255, 255); font-weight: bold; display: inline-block; font-size: 0.9em; padding: 20px; }
#footer .social-profiles { text-align: center; margin-top: 30px; }
#footer .social-profiles .social { display: inline-block; width: 28px; height: 27px; font-size: 12pt; color: rgb(255, 255, 255); padding: 5px 0px 0px 4px; margin: 0px 6px 0px 0px; vertical-align: middle; }
#footer .social-profiles .social:hover { text-decoration: none; }
#footer .icon-facebook { background: none repeat scroll 0% 0% rgb(59, 89, 151); }
#footer .icon-facebook:hover { background: none repeat scroll 0% 0% rgb(70, 104, 176); }
#footer .icon-twitter { background: none repeat scroll 0% 0% rgb(86, 163, 217); }
#footer .icon-twitter:hover { background: none repeat scroll 0% 0% rgb(103, 185, 244); }
#footer .icon-gplus { background: none repeat scroll 0% 0% rgb(204, 0, 0); }
#footer .icon-gplus:hover { background: none repeat scroll 0% 0% rgb(239, 24, 24); }
#footer .logo { background-repeat: no-repeat; padding-top: 25px; padding-bottom: 0px; vertical-align: middle; font-size: 8pt; background-image: url('logo.png'); line-height: initial; background-position: center top; opacity: 0.6; display: block; margin-top: 1em; }
#footer a.logo:hover { background-image: url('logo.png'); background-color: transparent; opacity: 1; }
.thumb { float: left; margin-right: 10px; border-radius: 6px; }
.rating { margin-top: 10px; overflow: hidden; }
.rating li { float: left; color: rgb(238, 196, 48); font-size: 13pt; height: 20px; margin: 0px; width: 19px; cursor: pointer; }
.rating .icon-star-empty:before, .rating .icon-half-star:after { color: rgb(204, 204, 204); }
.rating .icon-star:before, .icon-star-empty:before { margin: 0px; }
.rating .icon-star:before, .rating .icon-star-half:before, .rating .icon-star-half-alt:before { color: rgb(238, 196, 48); margin: 0px; }
.rating span { font-size: 9pt; text-align: center; clear: both; }
.grad-grey, .grad-grey-child > :nth-child(n) { background: -moz-linear-gradient(center top , rgb(251, 251, 251), rgb(242, 242, 242)) repeat scroll 0% 0% transparent; }
.round4px, .round4px-child > :nth-child(n) { border-radius: 4px; }
.tag, .summary span { border-radius: 3px; background: none repeat scroll 0% 0% rgb(238, 238, 238); height: 18px; font-size: 8pt; line-height: 16pt; padding: 2px 6px 3px; color: rgb(132, 130, 130); white-space: nowrap; }
.prettyprint .tag { height: auto; line-height: inherit; background: none repeat scroll 0px center transparent; padding: 0px; }
.tags { margin-top: 10px; }
.tags a { display: inline-block; color: rgb(82, 82, 82); margin-left: 10px; }
.social-buttons .share-link { margin-left: 0px; position: relative; }
.social-buttons .icon-link-1 { color: rgb(206, 206, 206); font-size: 16pt; }
.socialb { display: inline-block; }
.socialb em { margin-right: 13px; border-radius: 3px; padding: 0px 3px; display: inline-block; height: 22px; line-height: 22px; color: rgb(255, 255, 255); font-size: 12pt; vertical-align: middle; }
.socialb em:before { margin: 0px; }
.socialb span.counter:before { content: "◀"; color: rgb(237, 237, 237); font-size: 17pt; left: -10px; top: 0px; position: absolute; }
.socialb span.counter { vertical-align: middle; background: none repeat scroll 0% 0% rgb(237, 237, 237); color: rgb(139, 139, 139); display: inline-block; padding: 6px 20px; text-align: center; position: relative; font-size: 12pt; margin-right: 10px; }
.socialb.twitter em { background: none repeat scroll 0% 0% rgb(88, 203, 253); }
.socialb.facebook em { background: none repeat scroll 0% 0% rgb(87, 129, 192); }
.socialb.linkedin em { background: none repeat scroll 0% 0% rgb(78, 165, 205); }
.socialb:hover span { background: none repeat scroll 0% 0% rgb(221, 220, 220); }
.socialb:hover span:before { color: rgb(221, 220, 220); }
.social-buttons .share-link input:before { content: "◀"; color: rgb(202, 202, 202); font-size: 11pt; left: -11px; top: -5px; position: absolute; }
.social-buttons .share-link input { width: 180px; font-size: 10pt; padding: 6px; position: absolute; top: 0px; left: 44px; z-index: 1; display: none; margin: 0px; }
@media not all {
	#footer .col a:hover:after { background-image: url('arrow-white@2x.png'); }
}
@media not all {
	#footer .col a:hover:after { background-image: url('arrow-white@3x.png'); }
}
@media only screen and (max-width: 1024px) {
	.width { width: 98%; }
	#footer, #footer-push { height: auto; }
	#container { margin-bottom: 0px; }
}
@media only screen and (max-width: 930px) {
}
@media only screen and (max-width: 768px) {
	.width { width: auto; padding: 0px 1.5%; }
	#header a.button.show-menu { display: inline-block; padding: 3px 10px; margin-left: 3px; }
	#header a.button { padding: 3px 17px; }
	#header .nav .links-wrap { position: absolute; display: block; top: 80px; left: 0px; right: 0px; overflow: hidden; visibility: hidden; height: 0px; z-index: 2; }
	#header .nav .links { display: block; background: none repeat scroll 0% 0% rgb(17, 80, 128); transform: translate3d(0px, -100%, 0px); transition: transform 0.3s cubic-bezier(0.33, 0, 0.2, 1) 0s; border-top: 2px solid rgb(13, 68, 110); }
	#header .nav .links a { display: block; color: white; padding: 10px; text-decoration: none; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; margin: 0px; cursor: pointer; transition: background-color 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s; }
	#header .nav .links a:hover, #header .nav .links a:active { text-decoration: none; background: none repeat scroll 0% 0% rgb(13, 63, 101); }
	#header .nav .links a span { transition: transform 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s, opacity 0.2s cubic-bezier(0.33, 0, 0.2, 1) 0s; display: block; transform: translate3d(0px, -30%, 0px); opacity: 0; position: relative; }
	#header .nav .links a span:after { content: ""; position: absolute; background: url('arrow-white.png') no-repeat scroll 0% 0% / 9px 16px transparent; width: 9px; height: 16px; right: 10px; }
	#header .nav .links a:nth-child(1) span { transition-delay: 0.05s; }
	#header .nav .links a:nth-child(2) span { transition-delay: 0.1s; }
	#header .nav .links a:nth-child(3) span { transition-delay: 0.15s; }
	#header .nav .links a:nth-child(4) span { transition-delay: 0.2s; }
	#header .nav .links a:nth-child(5) span { transition-delay: 0.25s; }
	#header .nav .links a:nth-child(6) span { transition-delay: 0.3s; }
	#footer { padding-bottom: 0px; }
	#footer .width { padding: 30px; }
	#footer a { padding-top: 3px; }
	#footer .col { margin-bottom: 15px; }
	#footer .footer-top { margin-bottom: 10px; }
	#footer .width { padding: 0px; }
	#footer .footer-top a { display: block; padding: 12px; }
}
@media only screen and (max-width: 600px) {
	#footer .col { width: auto; display: block; margin: 0px 0px 15px; }
	#footer .col:nth-of-type(2n) { margin-right: 0px; }
}
@media only screen and (max-width: 470px) {
	#header {  }
	#header a.button { padding: 3px 10px; }
	#header #logo small { top: -4px; position: relative; }
	#footer .col, #footer .col:nth-of-type(2n) { width: auto; margin-right: 0px; display: block; }
}
@media not all {
	#logo img { background: url('logo@2x.png') no-repeat scroll 0% 0% / 96px 27px transparent; width: 0px; height: 27px; padding-left: 96px; overflow: hidden; }
	#header .nav .links a span:after { background-image: url('arrow-white@2x.png'); }
}
@media not all {
	#header .nav .links a span:after { background-image: url('arrow-white@3x.png'); }
}
form { display: inline; }
form .text, form select, form textarea, input.text, input.file, .placeholder_label, select.text { padding: 13px; margin-bottom: 15px; font-size: 12pt; border: 1px solid rgb(198, 198, 198); background: none repeat scroll 0% 0% rgb(249, 249, 249); box-shadow: none; }
form .text { width: 195px; }
form .text:focus, form textarea:focus, form select:focus { border: 1px solid rgb(173, 173, 173); }
textarea { font-family: Arial; }
.small-grey-button, .gray-button, .small-yellow-button, .yellow-button, .blue-button, .red-button, .small-blue-button, button, .button, .small-button, .grey-button, .small-red-button, .post a.more-link, .dark-grey-button, .green-button { text-align: center; font: bold 10pt/22pt "Myriad Pro",sans-serif; background: none repeat scroll 0% 0% rgb(49, 154, 231); color: rgb(255, 255, 255); text-transform: uppercase; display: inline-block; text-decoration: none; border-radius: 20px; border: 0px none; cursor: pointer; padding: 3px 16px; }
button { line-height: 34px; margin-top: 0px; padding: 0px 13px; vertical-align: bottom; }
.small-grey-button, .small-blue-button, .small-button, button.small, .small-yellow-button, .small-red-button, .post a.more-link { background-color: rgb(20, 151, 204); color: rgb(255, 255, 255); }
.small-blue-button:hover, .blue-button:hover, button:hover, .button:hover, .small-button:hover, .small-red-button:hover, .post a.more-lin:hover, .cta-button.button:hover, .green-button:hover { background: none repeat scroll 0% 0% rgb(0, 126, 218); text-decoration: none; }
.button i, .grey-button i, .yellow-button i { font-size: 1.6em; margin-left: -5px; vertical-align: -2px; margin-right: 5px; }
.red-button, .small-yellow-button, .small-red-button { background-color: rgb(240, 92, 84); color: rgb(255, 255, 255); }
.red-button:hover, .small-yellow-button:hover, .small-red-button:hover { background-color: rgb(230, 64, 23); text-decoration: none; }
.small-grey-button, .grey-button { color: rgb(84, 84, 84); background-color: rgb(237, 237, 237); }
.small-grey-button:hover, .grey-button:hover { color: rgb(84, 84, 84); background-color: rgb(240, 240, 240); text-decoration: none; }
form small { font-size: 8pt; color: rgb(155, 155, 155); line-height: 1.2em; }
input:-moz-placeholder { color: rgb(95, 95, 95); }
input::-moz-placeholder { color: rgb(95, 95, 95); }
span.avatar { position: relative; background: none repeat scroll 0% 0% rgb(189, 189, 189); border-radius: 30px; text-align: center; display: inline-block; float: left; }
span.avatar.color3 { background: none repeat scroll 0% 0% rgb(198, 183, 240); }
span.avatar.color3 span { border-color: rgb(227, 219, 248); }
span.avatar.color6 { background: none repeat scroll 0% 0% rgb(169, 220, 104); }
span.avatar.color6 span { border-color: rgb(212, 238, 180); }
.avatar span { color: rgb(255, 255, 255); border-bottom: 2px solid rgb(222, 222, 222); }
.avatar img { border-radius: 24px; position: absolute; z-index: 2; top: 0px; left: 0px; }
.avatar.small img, .avatar.small { width: 48px; height: 48px; line-height: 44px; font-size: 12pt; }
.avatar.tiniest img, .avatar.tiniest { width: 24px; height: 24px; line-height: 22px; font-size: 9pt; }
.getquote .labelpair:nth-child(2n) { margin-right: 0px; }
@media not all {
}
form .cld { display: none; }
@media not all {
}
@media screen	 {
}
@media only screen and (max-width: 1024px) {
}
.markdown { color: rgb(70, 75, 94); line-height: 1.5em; font-size: 11pt; }
.markdown pre { background-color: rgb(238, 238, 238); margin: 1em 0px; padding: 3px; width: 95%; line-height: 1.4; }
.markdown em { font-style: italic; }
.markdown ol { list-style: decimal outside none; }
.markdown ol, .markdown ul { padding-left: 24px; margin-bottom: 5px; }
.markdown ol { margin-left: 8px; }
.markdown p { margin-bottom: 15px; }
.browse .listing .app:nth-of-type(4n) { margin-right: 0px; }
.listing .suggestions li:nth-child(4n) { margin-right: 0px; }
@media only screen and (max-width: 768px) {
	.listing .app:nth-of-type(2n), .listing .suggestions li:nth-of-type(2n) { margin-right: 0px; }
}
@media only screen and (max-width: 480px) {
}
/* ::::: https://www.binpress.com/min/?b=styles&f=site/comments.css,site/tutorials.css,prettify.css&v=94bd9c4 ::::: */

.comments > li, .replies > li { padding: 0px; border-left: 2px solid rgb(228, 228, 228); margin-left: 24px; }
.replies > li:first-child { padding-top: 0px; }
.comments > li:last-child, .replies > li:last-child { border-left: 0px none; }
.comments .wrapper { position: relative; padding-bottom: 15px; }
.comments .author { font-size: 10pt; color: rgb(14, 14, 14); font-weight: bold; margin-bottom: 0.5em; display: inline-block; }
.comments .time { color: rgb(138, 138, 138); font-size: 9pt; margin-left: 0.5em; }
.comments > li:first-child { border-top: 0px none; padding-top: 0px; }
.comments blockquote, .comments .blockquote { line-height: 1.7em; margin-left: 44px; margin-top: 2px; }
.comments blockquote { white-space: pre-wrap; }
.comments .replies { padding-left: 20px; }
.comments .replies li:last-child .wrapper .actions { border-bottom: 0px none; }
.comments .actions { margin-top: 10px; margin-left: 44px; overflow: auto; border-bottom: 1px solid rgb(228, 228, 228); padding-bottom: 1em; }
.comments li:last-child .actions { border-bottom: 0px none; }
.comments .actions a { vertical-align: top; }
.comments .avatar { float: left; margin-left: -24px; margin-right: 20px; }
.comment-form .avatar { margin: 0px 0px 0px -24px; float: left; }
.comment-form { display: block; padding-bottom: 20px; margin-top: 15px; margin-left: 25px; position: relative; border-left: 2px solid rgb(228, 228, 228); }
.comment-form form { display: block; margin-left: 40px; }
.comment-form button { margin: 0px; }
.comment-form textarea { display: inline-block; }
@media not all {
}
.comment-form .login { border-right: 1px solid rgb(221, 221, 221); padding-right: 10px; }
.comment-form .login, .comment-form .register { vertical-align: top; }
.comment-form .login { float: left; }
.comment-form .text { width: 43%; margin: 0px 6px 0px 0px; padding: 7px; }
.comment-form .register { margin-left: 14px; display: inline-block; }
.comment-form .login small, .comment-form .register small { font-size: 7pt; margin-bottom: 7px; font-weight: bold; text-transform: uppercase; display: block; }
.comments .right { float: right; font-size: 10pt; }
@media only screen and (max-width: 600px) {
	.comments .avatar { margin-right: 12px; }
	.comments blockquote, .comments .show-thread-button, .comments .actions { margin-left: 36px; }
	.comment-form form { padding: 0px 2px; }
	.comment-form .avatar { margin-bottom: 10px; }
	.comment-form .login { float: none; border: 0px none; }
	.comment-form .register { margin: 0.5em 0px; clear: both; }
	.comment-form .text { width: 70%; margin-bottom: 6px; }
}
html, body { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.tutorial h1 { font-size: 28pt; color: rgb(34, 34, 34); margin-bottom: 20px; }
.tutorial .addcomment { float: right; margin-top: 3px; }
.tutorial .one-col { width: 740px; margin: 30px 0px 0px 190px; }
.tutorial .markdown, .tutorial .markdown p { font-size: 13pt; line-height: 1.6em; color: rgb(33, 33, 33); font-weight: 300; }
.tutorial .markdown li { margin-bottom: 10px; }
.tutorial .markdown h2, .tutorial .markdown h3, .tutorial .markdown h4 { color: rgb(212, 54, 14); }
.tutorial .markdown h2 { font-size: 20pt; margin-top: 35px; margin-bottom: 12px; }
.tutorial .markdown code, .tutorials .markdown pre { background: none repeat scroll 0% 0% rgb(249, 249, 249); border-bottom: 1px solid rgb(219, 219, 219); padding: 2px 4px; }
.tutorial .markdown pre { font-size: 10pt; padding: 13px 8px 10px; width: 110%; margin: 25px 0px; color: rgb(170, 170, 170); }
.tutorial .markdown pre code { background: none repeat scroll 0% 0% transparent; border: 0px none; padding: 0px; }
.tutorial .markdown pre li { margin-bottom: 2px; }
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 { list-style-type: decimal ! important; }
.tutorial .meta { overflow: hidden; margin-bottom: 15px; }
.tutorial .meta .avatar { margin-right: 5px; }
.tutorial .meta a { margin-left: 5px; }
.tutorial .meta .avatar, .tutorial .meta a, .tutorial .meta .time { vertical-align: middle; }
.tutorial .meta, .tutorials .meta a { color: rgb(150, 150, 150); }
.tags { margin-bottom: 30px; }
.tags a { background: none repeat scroll 0% 0% rgb(239, 239, 239); padding: 3px 6px; color: rgb(130, 130, 130); text-transform: capitalize; margin: 0px 5px 5px 0px; font-size: 10pt; }
.tags a:hover { text-decoration: none; background: none repeat scroll 0% 0% rgb(245, 245, 245); }
.tutorial .social-buttons { text-align: center; margin: 30px 0px 0px; }
.tutorial .eoa-links a { padding: 10px 20px; font-size: 13pt; margin-bottom: 15px; }
.related { margin-top: 40px; }
.related h2 { margin-bottom: 22px; }
.related .thumb { margin-right: 20px; }
.related .summary { display: inline-block; vertical-align: middle; width: 65%; margin-right: 20px; }
.related .summary p { margin: 0px 0px 5px; color: rgb(103, 102, 102); }
.related .summary .rating { margin-top: 4px; }
.related .summary .rating span { display: none; }
.related .button { vertical-align: middle; background: none repeat scroll 0% 0% rgb(218, 205, 22); width: 100px; padding: 8px 8px 8px 12px; }
.related .button:hover { background: none repeat scroll 0% 0% rgb(229, 216, 27); }
.related .button i:before { margin: 0px 0px 0px 5px; }
.tutorials-nav { float: left; margin-top: 13px; width: 140px; margin-left: 22px; }
.tutorials-nav li, .tutorials-nav li a { position: relative; color: rgb(99, 99, 99); font-weight: bold; }
.tutorials-nav li i { position: absolute; left: -21px; top: -2px; font-size: 11pt; }
.tutorials-nav li .title { font-size: 9pt; text-transform: uppercase; display: block; }
.tutorials-nav li ul { margin-top: 5px; margin-bottom: 15px; }
.tutorials-nav li li { border-bottom: 1px solid rgb(214, 214, 214); font-size: 10pt; }
.tutorials-nav li li a { padding: 8px 5px; display: block; text-transform: capitalize; }
.tutorials-nav li li small { color: rgb(212, 54, 14); float: right; }
.tutorials-nav li li a:hover { text-decoration: none; background: none repeat scroll 0% 0% rgb(250, 250, 250); }
.tutorials-nav li li .selected { background: none repeat scroll 0% 0% rgb(241, 241, 241); color: rgb(212, 54, 14); }
.series a { display: block; border-bottom: 1px solid rgb(238, 238, 238); padding-bottom: 15px; padding-right: 20px; color: rgb(81, 81, 81); overflow: hidden; position: relative; width: 260px; }
.series a:hover { text-decoration: none; border-bottom: 2px solid rgb(20, 151, 204); padding-bottom: 14px; }
.series a:after { font-family: "binpress"; content: ""; right: 5px; font-size: 16pt; top: 50%; margin-top: -19px; position: absolute; }
.series .prev:after { content: ""; right: auto; left: 5px; }
.series a .book { background: url('series-icon.png') no-repeat scroll 0px 0px transparent; height: 60px; width: 46px; position: relative; float: left; margin-right: 15px; }
.series a em { display: block; color: rgb(81, 81, 81); }
.series a small { color: rgb(122, 122, 122); font-size: 9pt; }
.series .next { float: right; }
.series .prev { float: left; padding-left: 20px; padding-right: 0px; }
.series { overflow: hidden; margin: 60px 0px 30px; }
.subscribe-form { background: none repeat scroll 0% 0% rgb(217, 237, 249); padding: 50px 20px 35px; display: block; position: relative; margin: 70px 0px 30px; text-align: center; }
.subscribe-form h3 { display: block; color: rgb(65, 69, 69); font-size: 20pt; font-weight: 300; margin-bottom: 5px; }
.subscribe-form p { color: rgb(109, 109, 109); font-style: italic; margin-bottom: 23px; }
.subscribe-form .subscribe-icon { position: absolute; top: -32px; left: 50%; margin-left: -32px; }
.subscribe-form .text { margin: 0px 10px 0px 0px; border-color: rgb(202, 202, 202); box-shadow: 0px 2px 3px rgba(242, 242, 242, 0.8) inset; padding: 8px; width: 37%; }
.tutorial-comments { margin: 40px auto 0px; width: 90%; }
.tutorial-comments .comment-form textarea { width: 98%; }
.tutorial-comments h2 { font-size: 20pt; }
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 968px) {
	.tutorials-nav { width: auto; float: none; margin: 0px; }
	.tutorials-nav ul { display: none; }
	.tutorial .one-col, .tutorials .list { width: auto; margin: 30px 20px; }
	.tutorials-nav > li { font-size: 12pt; border-bottom: 1px solid rgb(206, 206, 206); cursor: pointer; }
	.tutorials-nav > li .title { padding: 8px; }
	.tutorials-nav li i { position: static; }
	.tutorials-nav li ul { margin: 0px; }
	.tutorials-nav li ul li:last-child { border-bottom: 0px none; }
}
@media only screen and (max-width: 768px) {
	.related .summary { width: 52%; }
}
@media only screen and (max-width: 600px) {
	.related .thumb-link { display: block; text-align: center; }
	.related .thumb { float: none; }
	.related .summary { width: auto; margin: 20px 0px; }
	.related .button { display: block; width: 70%; margin: auto; }
}
@media only screen and (max-width: 550px) {
}
.str { color: rgb(0, 136, 0); }
.kwd { color: rgb(0, 0, 136); }
.com { color: rgb(136, 0, 0); }
.typ { color: rgb(102, 0, 102); }
.lit { color: rgb(0, 102, 102); }
.pun { color: rgb(102, 102, 0); }
.pln { color: rgb(0, 0, 0); }
.tag { color: rgb(0, 0, 136); }
.atn { color: rgb(102, 0, 102); }
.atv { color: rgb(0, 136, 0); }
ol.linenums { margin-top: 0px; margin-bottom: 0px; }
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 { list-style: none outside none; }
li.L1, li.L3, li.L5, li.L7, li.L9 { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
/* ::::: https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Oxygen:300,400,700|Lato:300,400,700,900|Merriweather:300,400,700,900 ::::: */

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 300;
	src: local("Lato Light"), local("Lato-Light"), url('kt3ks9aol4wfr6vas8kncg.woff') format("woff");
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: local("Lato Regular"), local("Lato-Regular"), url('9k-rpmcnxyepm8cnfsh2gg.woff') format("woff");
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: local("Lato Bold"), local("Lato-Bold"), url('wkfqbvft_02e2iwo3yyueq.woff') format("woff");
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	src: local("Lato Black"), local("Lato-Black"), url('bvtm30trf7q_jfqyehfjta.woff') format("woff");
}
@font-face {
	font-family: "Merriweather";
	font-style: normal;
	font-weight: 300;
	src: local("Merriweather Light"), local("Merriweather-Light"), url('zvcmqxewpfh2qdwbpxn6nmfp2smiapzm5dx7npstozk.woff') format("woff");
}
@font-face {
	font-family: "Merriweather";
	font-style: normal;
	font-weight: 400;
	src: local("Merriweather"), local("Merriweather-Regular"), url('rfda8w1v0edzheqfcyq4ehhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Merriweather";
	font-style: normal;
	font-weight: 700;
	src: local("Merriweather Bold"), local("Merriweather-Bold"), url('zvcmqxewpfh2qdwbpxn6nnl4twxkwp3_u9zoepkt564.woff') format("woff");
}
@font-face {
	font-family: "Merriweather";
	font-style: normal;
	font-weight: 900;
	src: local("Merriweather Black"), local("Merriweather-Black"), url('zvcmqxewpfh2qdwbpxn6ngi3hume1-tkjjz2lx0jyjo.woff') format("woff");
}
@font-face {
	font-family: "Oxygen";
	font-style: normal;
	font-weight: 300;
	src: local("Oxygen Light"), local("Oxygen-Light"), url('awbqwf2kjhlybwamakmpct8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Oxygen";
	font-style: normal;
	font-weight: 400;
	src: local("Oxygen"), local("Oxygen-Regular"), url('rzonirr1p2mqyyz2rwqsmw.woff') format("woff");
}
@font-face {
	font-family: "Oxygen";
	font-style: normal;
	font-weight: 700;
	src: local("Oxygen Bold"), local("Oxygen-Bold"), url('yvhpdqrmtj9kax1tmfsx2j8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url('b9qbgl0imzfdspmcxce8nneiznanrb67rgzdykmvkpc.woff') format("woff");
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url('zd2e9abxlfgsr9g3yk2msfzqcfrpia3w6ypxnpiscpa.woff') format("woff");
}
/* ::::: https://static.olark.com/css/9/4/94ed398830a8bd5536bdfa21e0530fbe.css?https ::::: */

#habla_window_div, #habla_window_div th, #habla_window_div table, #habla_window_div h3, #habla_window_div h5, #habla_window_div p, #habla_window_div h1, #habla_window_div td, #habla_window_div dl, #habla_window_div tr, #habla_window_div dt, #habla_window_div h6, #habla_window_div ol, #habla_window_div form, #habla_window_div select, #habla_window_div option, #habla_window_div pre, #habla_window_div div, #habla_window_div tbody, #habla_window_div h2, #habla_window_div tfoot, #habla_window_div caption, #habla_window_div thead, #habla_window_div h4, #habla_window_div ul, #habla_window_div address, #habla_window_div blockquote, #habla_window_div dd, #habla_window_div fieldset, #habla_window_div textarea, #habla_window_div hr, #habla_window_div article, #habla_window_div aside, #habla_window_div dialog, #habla_window_div figure, #habla_window_div footer, #habla_window_div header, #habla_window_div hgroup, #habla_window_div menu, #habla_window_div nav, #habla_window_div section { display: block; }
#habla_window_div a, #habla_window_div a *, #habla_window_div input[type="submit"], #habla_window_div button, #habla_window_div input[type="radio"], #habla_window_div input[type="checkbox"], #habla_window_div select { cursor: pointer; }
#habla_window_div a:hover { text-decoration: underline; }
#habla_window_div input, #habla_window_div select { vertical-align: middle; }
#habla_window_div select, #habla_window_div textarea, #habla_window_div input { border: 1px solid rgb(204, 204, 204); }
#habla_window_div input[type="submit"], #habla_window_div_base button { width: auto; font-size: 12px; padding: 3px 10px; margin: 5px 0px 10px; border-radius: 3px; min-height: 0px; clear: both; }
#habla_window_div { font-size: 100%; line-height: 1; direction: ltr; text-align: left; font-family: "Times New Roman",Times,serif; color: black; font-style: normal; font-weight: normal; text-decoration: none; }
#habla_window_div input[type="submit"], #habla_window_div button { width: auto; font-size: 14px; }
#habla_window_div [class*="span"] { float: none; margin-left: 0px; }
#habla_window_div.habla_window_div_base { display: block ! important; z-index: 99999999; }
#habla_window_div #habla_panel_div { overflow: hidden; }
#habla_window_div #habla_middle_div { padding: 6px 10px 3px; }
:first-child + html #habla_window_div #habla_middle_div { padding: 6px 0px 0px; }
#habla_window_div textarea { max-width: 100%; width: 100%; box-sizing: content-box; resize: none; overflow: hidden; }
#habla_window_div #habla_offline_body_input, #habla_window_div #habla_wcsend_input { resize: vertical ! important; overflow: auto ! important; max-height: 500px ! important; }
:first-child + html #habla_window_div textarea { width: 97%; }
#habla_window_div #habla_input_div { margin-left: -17px; margin-right: -5px; }
:first-child + html #habla_window_div #habla_input_div { margin-left: 0px; margin-right: 0px; width: 95%; }
#habla_window_div #habla_chatform_form { padding: 3px 10px 0px; }
#habla_window_div #habla_conversation_div { padding: 6px 10px 0px; margin: -6px -10px 0px; }
:first-child + html #habla_window_div #habla_conversation_div, :first-child + html #habla_window_div #habla_pre_chat_div, :first-child + html #habla_window_div #habla_offline_message_div { width: 97%; }
#habla_window_div #habla_name_input, #habla_window_div #habla_offline_email_input, #habla_window_div #habla_offline_body_input, #habla_window_div #habla_pre_chat_name_input, #habla_window_div #habla_pre_chat_email_input, #habla_window_div #habla_offline_phone_input, #habla_window_div #habla_pre_chat_phone_input { overflow: hidden; box-sizing: content-box; }
#habla_window_div #habla_pre_chat_div, #habla_window_div #habla_offline_message_sent_div, #habla_window_div #habla_offline_message_div { padding: 0px 10px; margin-left: -10px; }
:first-child + html #habla_window_div #habla_pre_chat_div, :first-child + html #habla_window_div #habla_offline_message_sent_div, :first-child + html #habla_window_div #habla_offline_message_div { padding: 5px; margin-left: 0px; }
#habla_window_div { font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; font-size: 14px; }
#habla_middle_div { line-height: 1.5em; }
#habla_window_div #habla_expanded_div { border-left: 1px solid rgb(237, 237, 237); border-right: 1px solid rgb(237, 237, 237); }
#habla_window_div.olrk-fixed-bottom .habla_panel_border, #habla_window_div.olrk-fixed-bottom #habla_topbar_div { border-top-left-radius: 5px; border-top-right-radius: 5px; }
#habla_window_div .habla_conversation_div { background: none repeat scroll 0px 0px transparent; border-bottom: 1px dotted rgb(237, 237, 237); line-height: 1.5em; overflow: auto; color: black; width: 100%; }
#habla_window_div #habla_wcsend_input { background: none repeat scroll 0px 0px transparent; overflow: auto; padding: 5px; vertical-align: text-top; line-height: 1.5em; }
#habla_window_div .habla_wcsend_input_normal { border: 1px solid rgb(182, 182, 182); color: black; }
#habla_window_div .habla_wcsend_input_pre { color: gray; }
#habla_window_div #habla_offline_message_span, #habla_window_div #habla_pre_chat_span { margin-bottom: 5px; display: block; }
#habla_window_div #habla_offline_message_div, #habla_window_div #habla_pre_chat_div { line-height: 1.5em; }
#habla_window_div #habla_offline_message_span { margin-bottom: 5px; display: block; }
#habla_window_div #habla_name_input, #habla_window_div #habla_offline_email_input, #habla_window_div #habla_offline_body_input, #habla_window_div #habla_pre_chat_name_input, #habla_window_div #habla_pre_chat_email_input, #habla_window_div #habla_pre_chat_phone_input, #habla_window_div #habla_offline_phone_input, #habla_window_div #habla_pre_chat_phone_input { border: 1px solid rgb(228, 228, 228); padding: 4px; margin-bottom: 5px; font-size: 0.9em; border-radius: 3px; }
#habla_window_div .habla_offline_submit_input { background: none repeat scroll 0px 0px rgb(213, 79, 39); border: medium none rgb(237, 237, 237); color: white; float: right; cursor: pointer; border-radius: 5px; padding: 1px 6px; margin: 5px -10px 10px 0px; }
#habla_window_div .habla_offline_error_span, #habla_window_div #habla_pre_chat_error_span { float: left; font-style: italic; line-height: 1.5em; }
#habla_window_div #habla_topbar_div { background: none repeat scroll 0px 0px rgb(91, 160, 208); color: rgb(255, 255, 255); padding: 10px; cursor: pointer; }
#habla_window_div #habla_oplink_a { color: white; text-decoration: none; }
#habla_window_div .clear_style { clear: both; }
#habla_window_div .habla_button { float: right; margin-top: -1px; margin-left: 4px; padding: 0px; width: 16px; height: 16px; border-radius: 5px ! important; background-position: 0px top; background-repeat: no-repeat ! important; cursor: pointer ! important; overflow: hidden; line-height: 1000px; background-image: url('buttons-light.png'); }
#habla_window_div .habla_button:hover { background-color: rgb(51, 51, 51); }
#habla_window_div #habla_sizebutton_a:hover { background-color: rgb(51, 51, 51); }
#habla_window_div #habla_panel_div #habla_expanded_div a, #habla_window_div #habla_panel_div #habla_conversation_div a { color: rgb(36, 96, 146); }
#habla_window_div #habla_panel_div #habla_expanded_div a:visited, #habla_window_div #habla_panel_div #habla_conversation_div a:visited { color: rgb(36, 96, 146); }
#habla_window_div #habla_panel_div #habla_expanded_div a:active, #habla_window_div #habla_panel_div #habla_conversation_div a:active { color: rgb(36, 96, 146); }
.olrk-state-compressed .olrk-fixed-bottom #habla_topbar_div {  }
.olrk-state-compressed .olrk-fixed-bottom #habla_sizebutton_a { background-position: -80px top ! important; }
#habla_window_div * { box-sizing: content-box; }
a.hbl_pal_title_fg {  }
.hbl_pal_main_bg { background-color: white ! important; }
.hbl_pal_title_fg {  }
.hbl_pal_offline_submit_fg { color: rgb(255, 255, 255) ! important; }
.hbl_pal_title_bg {  }
.hbl_pal_offline_submit_bg { background-color: rgb(235, 64, 64) ! important; }
div.hbl_pal_main_height { height: 150px ! important; }
div.hbl_pal_main_width { width: 250px ! important; }
.olrk-fixed-bottom { position: fixed; bottom: 0px; top: auto; }
.olrk-fixed-left { position: fixed; right: auto; left: 0px; }
